#root{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container {
  display: flex;
  background-color: rgb(74, 224, 250);
  width: 50%;
  height: 50%;
  min-width: 500px;
}