.single-card-container{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 275px;
    height: 350px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.single-card-container:hover{
    box-shadow: 2px 4px 10px rgba(0, 2, 10, 0.5);
}

.image-container{
    width: 275px;
    height: 200px;
    overflow: hidden;
}

.image-container image{
    object-fit: cover;

}

.name, .date, .time{
    font-family: Arial, Helvetica, sans-serif;
}

.name{
    font-size: 1.1rem;
    padding: 1rem 0;
}

.date, .time{
    font-size: 0.9rem;
}

.time{
    padding: 0.75rem 0;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    width: 100%;
}


.menu{
    border-style: none;
    background-color: black;
    color: white;
    border-radius: 5px;
    height: 30px;
    width: 100px;
    font-size: 0.9rem;
}